body {
  background-color: #005B96;
}

.login-container {
  margin-top: 100px;
  width: fit-content;
  background-color: white;
}

.holder-login-div {
  padding: 50px;
}

.sign-in-font-style {
  padding: 10px;
}

.login-icon {
  width: 100px;
  height: 100px;
}

.sign-in-button {
  margin-top: 20px;
}